<div class="heading-sec">
    <div class="row">
        <div class="col-md-12 column">
            <div class="heading-profile">
                <h2>Edit News</h2>
            </div>
        </div>
    </div>
</div>
<form name="newsForm" ng-submit="saveProduct(formdata)">
    <div class="widget">
        <div class="form-elements-sec">
            <div class="sec">
                <div class="form-group" fields>
                    <label>Title*</label>
                    <input type="text" name="name1" placeholder="Title" ng-model="formdata.name" class="form-control">

                </div>
                <div class="form-group" fields>
                    <label>Description*</label>
                    <input type="text" name="name2" placeholder="Description" ng-model="formdata.description" class="form-control">

                </div>

                <div class="form-group">
                    <label>Interests</label>

                    <select class="form-control" ng-model="formdata.interest">
                          <option value="" >Select Interests </option>
              <option value="{{intr.name}}" ng-repeat="intr in Interests">{{intr.name}}</option>
            </select>
                </div>

                <div class="form-group">
                    <label>Is Poll</label>

                    <select class="form-control" ng-model="formdata.IsPoll">
                         <option value="YES">YES</option>
                         <option value="NO">NO</option>
                   </select>
                </div>

                <div class="form-group" fields ng-if="formdata.IsPoll=='YES'" >
                    <label>Poll Or Qwack Question</label>*
                    <input type="text" name="name3" placeholder="Question" ng-model="formdata.pollQuestion" class="form-control"  ng-if="formdata.IsPoll=='YES'" required >
                    <input type="text" name="name3" placeholder="Question" ng-model="formdata.pollQuestion" class="form-control"  ng-if="formdata.IsPoll=='NO'" >

                </div>
                <div class="form-group" fields ng-if="formdata.IsPoll=='YES'">
                    <label>options</label>*
                    <input type="text" name="option" ng-model="formdata.pollQuestionOption" class="form-control" ng-if="formdata.IsPoll=='YES'" required>
                     <input type="text" name="option" ng-model="formdata.pollQuestionOption" class="form-control" ng-if="formdata.IsPoll=='NO'" >

                </div>
            </div>
            <div class="form-group" fields>
                <label>url</label>
                <input type="text" name="name4" placeholder="url" ng-model="formdata.url" class="form-control">

            </div>
            <div class="form-group" fields>
                <label>Image url</label>
                <input type="text" name="name5" placeholder="imageUrl" ng-model="formdata.imageUrl" class="form-control">

            </div>
           
            


            <div class="form-group" fields>
                <label>Read Total Count</label>
                <input type="text" name="name8" ng-model="formdata.realTotalCount.length" class="form-control" disabled>

            </div>
            <div class="form-group">
                <label>Is Social</label>

                <select class="form-control" ng-model="formdata.isSocial">
              <option value="YES">YES</option>
              <option value="NO">NO</option>
            </select>
            </div>
       
            <div class="form-group" fields>
                <label>Total Kwacks</label>
                <input type="text" name="name9" ng-model="formdata.comments.length" class="form-control" disabled>

            </div>
            <div class="form-group" fields>
                <label>Total Poll</label>
                <input type="text" name="name10" ng-model="formdata.polls.length" class="form-control" disabled>

            </div>
            <div class="form-group">
                <label>Is Trending</label>

                <select class="form-control" ng-model="formdata.trending">
              <option value="YES">YES</option>
              <option value="NO">NO</option>
            </select>
            </div>
         
            <div ng-if="formdata.isDisable=='YES'">
              <a  class="btn btn-success" ng-click="disable('NO')">Enable News</a>
            </div>
            <div ng-if="formdata.isDisable=='NO'">
                <a  class="btn btn-danger" ng-click="disable('YES')">Disable  News</a>
                </div>
        </div>
       
    </div>

    <div class="text-center mt20 odd-even-button">
        <button class="btn btn-default"  ng-disabled="newsForm.$invalid"  type="submit">Save</button>
        <a class="btn btn-danger" ng-click="cancelEdit()">Cancel</a>

    </div>
</form>