<div class="heading-sec">
    <div class="row">
        <div class="col-md-12 column">
            <div class="heading-profile">
                <h2>Edit News</h2>
            </div>
        </div>
    </div>
</div>
<form name="productForm" ng-submit="saveProduct(formdata)">
    <div class="widget">
        <div class="form-elements-sec">
            <div class="sec">
                <div class="form-group" fields>
                    <label>Title*</label>
                    <input type="text" name="name" placeholder="Title" ng-model="formdata.title" class="form-control">

                </div>
                <div class="form-group" fields>
                    <label>Description*</label>
                    <input type="text" name="name" placeholder="Description" ng-model="formdata.description" class="form-control">

                </div>

                <div class="form-group">
                    <label>Interests</label>

                    <select class="form-control" ng-model="formdata.interest">
                          <option value="" >Select Interests </option>
              <option value="{{intr.name}}" ng-repeat="intr in Interests">{{intr.name}}</option>
            </select>
                </div>
                <div class="form-group" fields>
                    <label>Poll Or Qwack Question</label>
                    <input type="text" name="name" placeholder="Question" ng-model="formdata.pollQuestion" class="form-control">

                </div>
                <div class="form-group" fields>
                    <label>url</label>
                    <input type="text" name="name" placeholder="url" ng-model="formdata.url" class="form-control">

                </div>
                <div class="form-group" fields>
                    <label>Image url</label>
                    <input type="text" name="name" placeholder="imageUrl" ng-model="formdata.imageUrl" class="form-control">

                </div>
                <div class="form-group" fields>
                    <label>Source</label>
                    <input type="text" name="name" placeholder="source" ng-model="formdata.source" class="form-control">

                </div>
                <div class="form-group" fields>
                    <label>Source Id</label>
                    <input type="text" name="name" placeholder="sourceId" ng-model="formdata.sourceId" class="form-control">

                </div>


                <div class="form-group" fields>
                    <label>Read Total Count</label>
                    <input type="text" name="name" ng-model="formdata.realTotalCount" class="form-control" disabled>

                </div>
                <div class="form-group">
                    <label>Is Explore</label>

                    <select class="form-control" ng-model="formdata.isExplore">
              <option value="YES">YES</option>
              <option value="NO">NO</option>
            </select>
                </div>
                <div class="form-group">
                    <label>Is Kwack</label>

                    <select class="form-control" ng-model="formdata.IsKwack">
                       
              <option value="YES">YES</option>
              <option value="NO">NO</option>
            </select>
                </div>
                <div class="form-group" fields ng-if="formdata.IsKwack=='YES'">
                    <label>Total Kwacks</label>
                    <input type="text" name="name" ng-model="formdata.comments.length" class="form-control" disabled>

                </div>

                <div class="form-group">
                    <label>Is Poll</label>

                    <select class="form-control" ng-model="formdata.IsPoll">
              <option value="YES">YES</option>
              <option value="NO">NO</option>
            </select>
                </div>
                <div class="form-group" fields ng-if="formdata.IsPoll=='YES'">
                    <label>Total Poll</label>
                    <input type="text" name="name" ng-model="formdata.polls.length" class="form-control" disabled>

                </div>
                <div class="form-group">
                    <label>Is Trending</label>

                    <select class="form-control" ng-model="formdata.trending">
              <option value="YES">YES</option>
              <option value="NO">NO</option>
            </select>
                </div>
            </div>



        </div>
    </div>

    <div class="text-center mt20 odd-even-button">
        <button class="btn btn-default" type="submit">Save</button>
        <a class="btn btn-danger" href="#/page/viewProduct//">Cancel</a>

    </div>
</form>