<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>Gallery</h2>
            </div>
        </div>
    </div>
</div>
<!--Table-->
<div class=" panel-content ">
    <div class="row ">
        <div class="col-md-12 ">
            <div class="widget ">
                <div class="table-area ">
                    <div class="widget-title ">
                        <div class="pull-right">
                             <form class="search-form mr-form ">
                                <input type="text " ng-change="searchInTable(search) " placeholder="Search Here...
                             " ng-model="search" />
                            </form> 
                  
                        </div>
                        <h3>List of User<span class="tableTotal ">(Total : {{totalItems}}) </span></h3>
                    </div>
                   
                    <div class="table-responsive">
                        <!--<div class="table-responsive " ng-show="totalItems>0 ">-->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>
                                        User
                                    </th>
                                    <th>
                                        Follwer Count
                                    </th>
                                    <th>
                                        Following Count
                                    </th>

                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--<tr ng-repeat="item in items">-->
                                <tr ng-repeat="item in items">
                                    <!--<tr>-->
                                    <td>{{($index + 1)+((formData.page-1)*maxRow)}}</td>
                                    <!--<td>{{($index + 1)}}</td>-->
                                    <td>{{item.name}}</td>
                                    <td>{{item.followCount}}</td>
                                    <td>{{item.followingCount}}</td>
                                    <td>
                                        <!-- <a class="btn btn-primary" target="_blank" ui-sref="galleryDetail({id:item._id})">
                      <i class="fa fa-pencil"></i> Edit -->
                                        </a>
                                        <a class="btn btn-success" ng-click="viewUser(item._id)">
                      View Detail
                    </a>
                                    </td>
                                    <!--<td ng-repeat="but in json.json.action">
                                        <a class="btn" ng-class="but.buttonClass" ng-click="json.eventAction(but,item) ">
                                            <i class="fa" ng-class="but.icon"></i>{{but.name}}
                                        </a>
                                    </td>-->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tableData " ng-show="totalItems===0 ">
                        <h5>No data found</h5>
                    </div>
                    <div class="tableData " ng-show="totalItems===undefined ">
                        <h5>Loading Data</h5>
                    </div>
                    <ul ng-if="totalItems" ng-change="viewTable()" uib-pagination total-items="totalItems" items-per-page="maxRow" ng-model="formData.page"
                        max-size="template.pageMax" class="pagination-sm" boundary-links="true " force-ellipses="true "></ul>
                </div>
            </div>
        </div>
    </div>
</div>